extends layout

block content

  h1 Charity project coding #[em BackEnd]
  p Welcome to M E R N Developer World #{title}
  ul
    li
      a(href='/users') users
    li
      a(href='/addresses') addresses
    li
      a(href='/donations') donations
    li
      a(href='/goods-donation') goods-donation  
    li
      a(href='/gift-card-donation') gift-card-donation
    li
      a(href='/time-donation') time-donation
    li
      a(href='/ambassadors') ambassadors
    li
      a(href='/medias') medias
    li
      a(href='/posts') posts
    li
      a(href='/involvements') involvements
    li
      a(href='/involvements-req') involvements-req      
      

      p  This is a very long and excating working #[strong strongly helps to you for connect to tables ] that cannot be   #[em ignored]
