extends layout

block content
  h2 #[em Last updated time is 04/14/2021 12:28:00]
  h3 #[em Last updated time is 04/14/2021 1:28:00] updated only PUG files
  h1 Charity project coding #[em BackEnd]
  p Welcome to M E R N Developer World #{title}
  ul
    li
      a(href='/users') users
    li
      a(href='/addresses') addresses
    li
      a(href='/donations') donations
    li
      a(href='/goods-donation') goods-donation  
    li
      a(href='/gift-card-donation') gift-card-donation
    li
      a(href='/time-donation') time-donation
    li
      a(href='/ambassadors') ambassadors
    li
      a(href='/medias') medias
    li
      a(href='/posts') posts
    li
      a(href='/involvements') involvements
    li
      a(href='/involvements-req') involvements-req      
    li
      a(href='/subscribers') subscribers
    li
      a(href='/contact-us') contact-us
    li
      a(href='/paypal-donations') paypal-donations
      
    
     

      p  These are others shurtCuts   
