doctype html
html
  head
    title  M E R N Developer World
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content



    block foot
      #footer
        p This line for footer content